.formgroup{
    padding:50px;
    width: 50%;
    margin-right: 20px;
}
form label {
    display: block; 
    margin-bottom: 5px;
    font-weight: bold; 
}
form input, form textarea {
    width: 100%; 
    padding: 10px;
    margin-bottom: 10px; 
}

.mainpage{
    display: flex;
    justify-content: center;
    align-items: center;
}
